
 /* цвета заголовка текста color: #212121;/
  /* Цвета массива текста color: #757575;*/
 /*  Фоновые Цвета 
 background: #FFFFFF; - 1
 background: #2F303A; -2
background: #F5F5F5; -3 
 /* акцент background: #2196F3; */

:root{
  --primary-text-color: #757575;
  --title-text-color:#212121;
  --accent-color: #2196F3;
 }
 
 
 body {
  background-color: #fff;
  color: var(--primary-text-color);
 }

 .list {
  list-style-type: none;
 }

  /* logo */

.logo {
  color: #000;
}

.logo-title {
  color: var(--accent-color);
}

/* Site-nav */
.site-nav {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Auth-nav */

.auth-nav .link {
  color: var(--primary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* Section solutions */
.solutions {
  background-color: #2F303A;
}
.solutions.tittle {
  color: #FFFFFF;
}

/* Button */
.button {
  background-color: var(--accent-color);
  color: #fff;
}

.button-filter {
  background-color: #F5F4FA;
  color: var(--title-text-color);
}
.button-filter:hover, 
.button-filter:focus {
  background-color: var(--accent-color);
  color: #fff;

}

/* Section Features */
.features,
.works {
  background-color: #F5F5F5;
}

.features.tittle {
  color: var(--title-text-color);
}

.features .tittle {
  color: var(--title-text-color);
}

/* Section Works */
.works.tittle {
  color: var(--title-text-color);
}

/* Team */
.team {
  background-color: #F5F4FA;
}

.team.tittle {
  color: var(--title-text-color);
}

.team.list .tittle {
  color: var(--title-text-color);
}

/* Footer */

.footer {
  background-color: #2F303A;
}

.address.list .link {
  color: #757575;
}

.address.list .link-address {
  color: #fff;
}

.address.list .link:hover,
.address.list .link:focus {
  color: var(--accent-color);
}

.address.list .link-address:hover,
.address.list .link-address:focus {
  color: var(--accent-color);
}

/* Portfolio */

.list .tittle {
  color: var(--title-text-color);
}
